<div id="<%= dom_id composer %>">
  <p>
    <strong>Name:</strong>
    <%= composer.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= composer.image %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= composer.comment_id %>
  </p>

</div>
