<div id="<%= dom_id piece %>">
  <p>
    <strong>Composer:</strong>
    <%= piece.composer_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= piece.image %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= piece.comment_id %>
  </p>

</div>
