<div class="piececard" id="<%= dom_id piece %>">
   <img src="/uploads/<%= piece.image %>" class="myimage" />
  <p>
    <%= piece.composer.name %>
  </p>

  <p>
    <%= piece.title %>
  </p>


</div>
