<p style="color: green"><%= notice %></p>

<h1>Pieces</h1>

<div id="pieces">
  <% @pieces.each do |piece| %>
    <%= render piece %>
    <p>
      <%= link_to "Show this piece", piece %>
    </p>
  <% end %>
</div>

<%= link_to "New piece", new_piece_path %>
