<div id="<%= dom_id concert %>">
  <p>
    <strong>Title:</strong>
    <%= concert.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= concert.image %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= concert.comment_id %>
  </p>

</div>
